
Jogo da Velha/JogoDaVelha.c
Calculadora de IMC/IMC.cpp
Calculadora de IMC/IMC.cpp
Calculadora de salário Líquido/SalariolquidoFor.cpp
Calculadora de IMC/IMC.cpp
Usando Switch-case/CriancaEsperanca.cpp
Usando Switch-case/CriancaEsperanca.cpp
Usando Switch-case/output/CriancaEsperanca
Calculadora de IMC/IMC.cpp
